body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
  background-color: #2058ab;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
  width: 99%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  margin-top: 5px;
  max-height: 50px;
}

.navbar-middle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  height: 35px;
}

.navbar-links {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  margin-left: 50px;
}

.navbar-links li {
  display: inline;
  margin-right: 15px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

/* Hover effect for navbar links */
.navbar-links li:hover a {
  background-color: #f0f0f0;
  color: #333;
  border-bottom: 2px solid transparent; /* Initially transparent */
  padding: 10px
}

/* Hover effect for Products and About Us links */
.navbar-links li:hover a:hover {
  border-bottom: 2px solid #2058ab; /* On hover, change to specified color */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 35px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
  height: 24px;
}

.search-bar button {
  padding: 10px;
  background-color: #3aa7ac;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 45px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  margin-right: 30px;
}

.navbar-right button {
  padding: 10px 21px;
  margin-right: 10px;
  background-color: #e88c0c;
  box-shadow: 2px 2px 0px rgb(211, 202, 202);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
  margin-right: 2px;
  cursor: pointer;
  margin-top: 5px;
}

.container {
    width: 80%;
    margin: 50px auto;
    
}


.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-heading {
    margin: 0;
    font-size: 22px;
}

table {
    width: 100%;
    border: none;

  
}

th{
    padding: 20px;
   color: white;
}

td{
    padding: 12px;
    background-color: #d5e7e4; 
    text-align: center;
}

thead {
    background-color: #132ce39f;   
}

.total-price {
    text-align: center;
    margin-top: 10px;
    margin-left:650px;
}

.remove {
    background-color:#ea5f28;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin:auto;
}

.remove:hover {
    background-color: #e76e59;
}
.message {
    padding: 10px;
    width: 300px;
    margin: -10px auto;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-family: Inter, sans-serif;
    font-style: oblique;
}

.success {
    background-color: #d4edda; /* Green */
}

.error {
    background-color:#f45b5b; /* Red */

}


