.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-container {
    margin: 0 auto;
    position: relative;
    width: 30%;
    max-width: 400px; /* Set a maximum width */
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.signin-signup {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    position: relative;
    width: 80%;
    margin-bottom: 15px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-field input:focus {
    border-color: #007bff;
}

.btn {
    width: 50%; /* Adjust button width */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px; /* Add margin */
}

.signup-link {
    width: 100%;
    text-align: center; /* Center align the link */
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.admin-link {
    color: #28a745; /* Green to differentiate from Sign up link */
    text-decoration: none;
    font-size: 0.9rem; /* Slightly smaller for hierarchy */
}

.admin-link:hover {
    text-decoration: underline;
    color: #218838; /* Darker green on hover */
}

.social-text {
    margin: 20px 0;
    font-size: 1rem;
    color: #333;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    color: #007bff;
    margin: 0 5px;
}

.social-icon:hover {
    color: #0056b3;
}

.alert {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

@media screen and (max-width: 600px) {
    .forms-container {
        border-radius: 0;
    }
}